<div class="mt-5 ml-5 ">
<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Go TO
      </button>
      <div class="dropdown-menu">
          <button class="dropdown-item" [routerLink]="['/Register']">
              Companies
            </button>
            <button class="dropdown-item" [routerLink]="['/Register']">
              Companies
            </button>
        </div>
</div>
</div>
<!-- -->

<div class="container col-*-* mt-5">
    <form class="form-inline">
        ,<table>
            <tr>
                <td>
                        <label for="name" class="mr-sm-2">Name </label></td>
                <td>     <input type="text" class="form-control md-2 mr-sm-2">
                </td>
                <td>
                        <label for="age" class="mr-sm-2">Website </label> </td>
                 <td>       <input type="text" class="form-control md-2 mr-sm-2">
                </td>
                <td>
                    <label for="age" class="mr-sm-2">Phone </label> </td>
             <td>       <input type="text" class="form-control md-2 mr-sm-2">
            </td>
            </tr>
            <tr>
                <td>
                        <label for="name" class="mr-sm-2">Name </label></td>
                <td>     <input type="text" class="form-control md-2 mr-sm-2">
                </td>
                <td>
                        <label for="age" class="mr-sm-2">Website </label> </td>
                 <td>       <input type="text" class="form-control md-2 mr-sm-2">
                </td>
                <td>
                    <label for="age" class="mr-sm-2">Phone </label> </td>
             <td>       <input type="text" class="form-control md-2 mr-sm-2">
            </td>
            </tr>
        </table>
      
      
    </form>
  </div>