<div class="container col-*-* mt-5">
        <form class="form-inline">
            ,<table>
                <tr>
                    <td>
                            <label for="name" class="mr-sm-2">Name: </label>
                            <input type="text" class="form-control md-2 mr-sm-2">
                    </td>
                    <td>
                            <label for="age" class="mr-sm-2">Age: </label>
                            <input type="text" class="form-control md-2 mr-sm-2">
                    </td>
                </tr>
            </table>
          
          
        </form>
      </div>